* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
}


.main {
    display: flex;
    flex-direction: row;
    margin: 8em auto;
    justify-content: center;
    align-items: center;
    gap: 5em;
}


/* CARDS */

.cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cardholder {
    display: flex;
    flex-direction: column;
}

.cardnumber {
    display: flex;
    flex-direction: column;
}

.expdate {
    display: flex;
}

.expdate-text {
    display: flex;
    flex-direction: column;
}

.cvc-number {
    display: flex;
    flex-direction: column;
}


/* CARD BACKGROUNDS */

.front-card {
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 450px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: #FFF;
}


.back-card {
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 450px;
    justify-content: end;
    align-items: center;
    display: flex;
    padding: 4em;
    color: #FFF;
}

.card-number {
    font-size: 2em;
}

.card-info {
    display: flex;
    justify-content: space-between;
}


/* FORM */

.forms {
    display: flex;
    flex-direction: column;
    gap: 3em;
}




/* THANK YOU DIV */

.thank-you {
    display: none;
}


/* MEDIA QUERIES */

@media(max-width: 850px) {

    .main {
        display: flex;
        flex-direction: column;
        margin: 8em auto;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }
}